{% extends 'base2.html.twig' %}

{% block body %}



<div class="col-lg-4" style="float: right">
                <div class="card my-4">
                    <h5 class="card-header">Rechercher</h5>
                    <div class="card-body">
                        <div class="input-group" >
                            <form method="get" action="{{ path('search_question') }}">
                                <input type="text" name="query" class="search-input" placeholder="Rechercher publication">

                                <style>
								

                                    .search-input {
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        box-sizing: border-box;
                                        font-size: 16px;
                                        padding: 10px;
                                        width: 100%;
                                    }

                                    .search-input::placeholder {
                                        color: #aaa;
                                    }
                                </style>

                                <button type="submit" class="search-button">Rechercher</button>

                                <style>
                                    .search-button {
                                        background: linear-gradient(to bottom, #6c757d, #5a6268);
                                        border-radius: 5px;
                                        border: none;
                                        color: #fff;
                                        cursor: pointer;
                                        font-size: 16px;
                                        font-weight: bold;
                                        padding: 10px 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        transition: all 0.2s ease-in-out;
                                    }

                                    .search-button:hover {
                                        background: linear-gradient(to bottom, #5a6268, #6c757d);
                                    }
                                </style>
                                <a class="btn btn-primary me-2" href="{{ path('app_question_index')}}">Retour</a>
                            </form>
              </span>
                        </div>
                    </div>
                </div>


            </div>
		<!-- Page Content -->{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
		<u1 style="text-align: center;">
		<a href="{{ path('app_question_new') }}"><button class="button button1" >posez une question</button></a>
		</u1>
</div>

		<div class="content" style="transform: none; min-height: 413.29px;">
			<div class="container-fluid" style="transform: none;">

				<div class="row" style="transform: none;">

					<div class="col-md-7 col-lg-8 col-xl-10">




	{% for question in questions %}
	<div class="doc-review review-listing">

		<!-- Review Listing -->
		<ul class="comments-list">

			<!-- Comment List -->
			<li>	
<a href="{{ path('app_question_edit', {'id': question.id}) }}" style="float: right;color:green;" >  <button class="btn">
    <i class="fas fa-edit"></i>
  </button></a>				<form method="post" action="{{ path('app_question_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
<button  style="float: right;     color: red;" class="btn" id="delete-button">
  <i class="fas fa-trash-alt"></i>
</button>				</form>
				<div class="comment">
					<img class="avatar rounded-circle" alt="User Image" src="{{asset('assets/img/patients/patient.jpg')}}">
					<div class="comment-body">
						<div class="meta-data">
						{% if question.gethidename()==1 %}
    <p>Anonymous</p>
{% else %}
    <p>							<span class="comment-author">{{ question.getiduser() }}</span>
</p>
{% endif %}
							
							<span class="comment-date">publié le {{ question.getdatepub()|date('d M Y') }}</span>
						</div>
						<p class="comment-content">{{ question.question }}</p>
						<p>
    Likes: {{ question.likes }} 
    <a href="{{ path('Question_like', {'id': question.id}) }}"><i class="fa fa-thumbs-up"></i></a> 
    Dislikes: {{ question.dislikes }}
    <a href="{{ path('Question_dislike', {'id': question.id}) }}"><i class="fa fa-thumbs-down"></i></a>
	<a href="{{ path('ssd', {'id': question.id}) }}" title="Share on Facebook" style=" 
	background-color: #3b5998; color: white; font-weight: bold; padding: 5px; border-radius: 5px; text-decoration: none;
	display: inline-block; text-align: center; border: 1px solid #3b5998;">
    <i class="fab fa-facebook-f" style="margin-right: 5px;"></i> Share
</a>

<a href="{{ path('twitter', {'id': question.id}) }}" title="Share on Twitter" style="
	background-color: #1DA1F2; /* Twitter blue */
	color: white;
	font-weight: bold;
	padding: 5px;
	border-radius: 50px;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: background-color 0.3s;
">
    <i class="fab fa-twitter" style="margin-right: 5px;"></i> Tweet
</a>


</p>

						<div class="comment-response">
							<div class="comment-reply">
															<a class="comment-btn" href="{{ path('app_reponse_new', {'question_id': question.id}) }}">
								<i class="fas fa-response"></i> repondre
							</a>
														</div>
							{% for reponse in reponses %}
							
											{% if reponse.getidquestion() == question.getid() %}
							<ul class="comments-reply">
										
											<!-- Comment Reply List -->
											<li>
												<div class="comment">
													<img class="avatar rounded-circle" alt="User Image" src="{{asset('assets1/img/doctors/doctor-thumb-02.jpg')}}">
													<div class="comment-body">
														<div class="meta-data">
														
  <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}"><button class="btn">
    <i style="color:green; position: absolute; top: 0; right: 10px; margin: 20px;" class="fas fa-edit"></i>
  </button></a>
  <form method="post" action="{{ path('app_reponse_delete', {'id': reponse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.id) }}">
<button class="btn" id="delete-button">
  <i style="color:red; position: absolute; top: 0; right: 0; margin: 50px;" class="fas fa-trash-alt"></i>
</button>  </form>
															<span class="comment-author">{{reponse.getiduser()}}</span>
															<span class="comment-date">{{reponse.getdatepub()|date('d M Y')}}</span>
														</div>
														<p class="comment-content">
														  <p>{{reponse.reponse}}</p>
														  	<p>
    Likes: {{ reponse.liked }} 
    <a href="{{ path('reponse_like', {'id': reponse.id}) }}"><i class="fa fa-thumbs-up"></i></a> 
    Dislikes: {{ reponse.disliked }}
    <a href="{{ path('reponse_dislike', {'id': reponse.id}) }}"><i class="fa fa-thumbs-down"></i></a>
</p>
														</p>
														<div class="comment-reply">
															<a class="comment-btn" href="{{ path('app_reponse_new', {'question_id': question.id}) }}">
								<i class="fas fa-response"></i> repondre
							</a>
							
														</div>
													</div>
												</div>
											</li>
											<!-- /Comment Reply List -->
											
										</ul>{% endif %}
										{% endfor %}
						</div>
						<!-- Replies -->
					<!--	{% for response in reponses %}
							<div class="comment-response">
								<p class="comment-author">{{ response.getiduser() }}</p>
								<p class="comment-date">publié le {{ response.getdatepub()|date('d M Y') }}</p>
								<p class="comment-content">{{ response.getreponse() }}</p>
							</div>
						{% endfor %}-->
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endfor %}


									
							<!-- /Comment List -->

						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Page Content -->
		<div style="  display: flex;
  justify-content: center;
  margin-top: 20px;">


{{ knp_pagination_render(questions, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
		{% endblock %}